*.dSYM
*~
.*.swp
.gdb_history
tmp*
*.dylib
*.rlib
*.bin
*.so
src/test/v*/pb_*.rs
src/test/v*/*_pb.rs
src/test/lib
protobuf-bin-gen-rust
protoc-gen-rust
shrug.rs
src/perftest/perftest
src/perftest/perftest-cxx
src/perftest/perftest_proto.rs
src/perftest/perftest_data.pbbin
src/perftest/perftest_data.pb.*
src/perftest/perftest_data.rs
target/
Cargo.lock
.idea
*.iml
