*.dSYM
*~
.*.swp
.gdb_history
tmp*
*.dylib
*.rlib
*.bin
*.so
src/test2/pb_*
src/test2/lib
src/test3/pb_*
src/test3/lib
protobuf-bin-gen-rust
protoc-gen-rust
shrug.rs
test_root.rs
src/perftest/perftest
src/perftest/perftest-cxx
src/perftest/perftest_proto.rs
src/perftest/perftest_data.pbbin
src/perftest/perftest_data.pb.*
src/perftest/perftest_data.rs
target/
Cargo.lock
.idea
*.iml
